

.navbar-items{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-wrap: wrap;

    /* padding: 10px; */
}
.navbar-item{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 8px;
    color: blue;
    font-family: Montserrat;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}


@media only screen and (max-width: 640px) {
    .navbar-items{
        padding-left: 10px;
        padding-right: 10px;
    }
   .navbar-item{
    font-size: 18px;
    line-height: 20px;
    padding: 5px;
   }
    
}